* {
	font-size: 10pt;
	text-align: center;
}

body {
	margin: 1px;
}

a {
	text-decoration: none;
	color: gray;
	font-weight: 900;
}

a:hover {
	text-decoration: underline;
	color: gray;
}


nav {
	height: 100%;
	min-height: 100%;
	width: 210px;
	background: #3B3E40;
	float: left;
	position: relative;
	z-index: 500;
	
	box-shadow: inset -20px 0 10px -20px #000;
	-moz-box-shadow: inset -20px 0 10px -20px #000;
	-webkit-box-shadow: inset -20px 0 10px -20px #000;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	background: #3B3E40;
	border-bottom: 1px solid #27292a;
	border-top: 1px solid #46494b;
	
	box-shadow: inset -20px 0 10px -20px #000;
	-moz-box-shadow: inset -20px 0 10px -20px #000;
	-webkit-box-shadow: inset -20px 0 10px -20px #000;	
}

nav ul li:first-child {
	border-top: none;
}

nav ul li:last-child {
	border-bottom: none;
}

nav ul li a {
	color: #fff !important;
	display: block;
	text-decoration: none;
	padding: 20px 15px 20px 5px;
	width: 190px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	position:relative;
}

nav ul li:hover, nav ul li.section {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3; /* Old browsers */ 
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */ 
	border-top: 1px solid #5daced;
}

nav ul li a.section:hover {
	border: none;
}